body {
  background-color: #000;
  font-family: Verdana;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

p {
  text-align: center;
}

a {
  font-size: 16px;
  color: #7fffd4;
}
